<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".KemejaHitam"
            android:exported="false" />
        <activity
            android:name=".Favorite"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".LamanProduk"
            android:exported="false" />
        <activity
            android:name=".TShirtUnisex"
            android:exported="false" />
        <activity
            android:name=".Chart"
            android:exported="false" />
        <activity
            android:name=".DragonBall"
            android:exported="false" />
        <activity
            android:name=".Women"
            android:exported="false" />
        <activity
            android:name=".Kids"
            android:exported="false" />
        <activity
            android:name=".Hot"
            android:exported="false" />
        <activity
            android:name=".Men"
            android:exported="false" />
        <activity
            android:name="com.app.myapplication.Home"
            android:exported="false" />
        <activity
            android:name="com.app.myapplication.Register"
            android:exported="false" />
        <activity
            android:name="com.app.myapplication.Login"
            android:exported="false" />
        <activity
            android:name="com.app.myapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>